@use 'mixins/mixins' as *;
@use 'base/variables' as *;

body {
  color: $text-primary;
}

.container {
  @include flex(center, center);
  height: 100vh;
}

.calculator {
  @include column-flex(start, center);
  gap: 10px;
  width: 428px;
  height: 926px;
  padding: 239px 17px 74px 17px;
  border-radius: 30px;
  background-color: $bg-app;
  transition: opacity 0.4s ease-in-out;

  &__display {
    @include flex(end, center);
    width: 100%;
    padding-right: 20px;
  }

  &__value {
    font-size: 90px;
    font-weight: 300;
    color: $text-primary;
  }

  &__keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 14px;
    width: 394px;
    height: 496px;
  }

  &__button {
    @include flex(center, center);
    width: 88px;
    height: 88px;
    border-radius: 50%;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
      filter 0.4s ease-out, box-shadow 0.4s ease-out;

    &--function {
      font-size: 34px;
      font-weight: 500;
      color: $text-black;
      background-color: $bg-btn-function;
    }
    &--operator {
      font-size: 48px;
      font-weight: 500;
      color: $text-primary;
      background-color: $bg-btn-operator;
    }
    &--number {
      font-size: 40px;
      font-weight: 400;
      color: $text-primary;
      background-color: $bg-btn-number;
    }
    &--wide {
      grid-column: 1 / 3;
      @include flex(start, center);
      min-width: 190px;
      padding-left: 35px;
      border-radius: 352px;
    }

    &:active,
    &.pressed {
      transform: scale(0.92);
      filter: brightness(1.4);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
      transition: transform 0.1s ease-out, filter 0.1s;
    }
  }
}
